@import 'fonts';
@import 'global';
@import 'btns';

.header {
  color: #fff;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999;
  background-color: transparent;
  transition: linear .2s;

  &__inner {
    display: flex;
    align-items: center;
    height: 9.5rem;
  }

  &__logo {
    width: 17rem;
    margin: 0 3rem 0 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__nav {
    margin: 0 32rem 0 auto;

    ul {
      display: flex;
      align-items: center;
    }

    li+li {
      margin: 0 0 0 6rem;
    }

    a {
      text-decoration: underline;
      text-decoration-color: transparent;
      transition: linear .2s;

      &:hover {
        text-decoration-color: #fff;
      }
    }
  }

  &__tel {
    font-size: 2rem;
    text-decoration: underline;
    text-decoration-color: #fff;
    transition: linear .2s;

    &:hover {
      text-decoration-color: transparent;
    }
  }

  &__menu-btn {
    display: none;
  }
}
.mob-item{
  display: none;
}
.header.sticky,
.header.active {
  background-color: #0B1F52;
}

/*start intro===========*/
.intro {
  padding: 22rem 0 3rem 0;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../images/content/intro-bg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top left;
    width: 100%;
    height: 150rem;
  }

  &__inner {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
  }

  &__left {
    max-width: 73rem;
    width: 100%;
    margin: 0 3rem 0 0;

    img {
      width: 100%;
      height: 11rem;
      object-fit: contain;
    }

    h6 {
      margin: 0 0 3rem 0;
      color: rgb(255, 255, 255);
      font-family: 'Arista-Pro';
      font-size: 5.4rem;
      font-weight: 400;
      line-height: 130%;
      text-transform: lowercase;
    }

    p {
      margin: 0 0 1.5rem 0;
    }
  }

  .btn {
    margin: 9rem 0 0 0;
  }

  &__right {
    margin: -11rem 0 0 0;
    max-width: 81.5rem;
    width: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

/*end intro===========*/

/*start invite============*/
.invite {
  padding: 3rem 0 3rem;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: -60rem;
    right: 0px;
    background-image: url("../images/content/invite-bg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top right;
    width: 100%;
    height: 125rem;
  }

  &__inner {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
  }

  &__left {
    position: relative;
    z-index: 1;
    width: 74rem;
    flex-shrink: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__right {
    max-width: 120rem;
    margin: 0 0 0 -20rem;
    padding: 13rem 0 0 0;
  }

  &__box {
    display: flex;
    align-items: center;
    padding: 5.5rem 11rem 5.5rem 13rem;
    margin: 0 0 5rem 0;
    border-radius: 2rem;
    border: .3rem solid #FD7914;
  }

  h6 {
    color: rgb(255, 255, 255);
    font-family: 'Arista-Pro';
    font-size: 5.4rem;
    font-weight: 700;
    line-height: 100%;
  }

  span {
    display: block;
    width: fit-content;
    padding: 0.1rem 3rem;
    margin: 0 5rem;
    color: rgb(255, 255, 255);
    font-family: 'Arista-Pro';
    font-size: 5.4rem;
    font-weight: 700;
    line-height: 100%;
    text-transform: lowercase;
    border-radius: 2rem;
    box-shadow: .4rem .5rem 1.4rem 0 rgba(13, 54, 6, 0.25);
    background: rgb(0, 185, 39);
  }

  p {
    padding: 0 0 0 13rem;
    margin: 0 0 1.5rem 0;
  }

  .soc {
    padding: 0 0 0 13rem;
    margin: 6rem 0 0 0;
  }
}

.soc {
  display: flex;
  flex-wrap: wrap;

  li {
    margin: 0 6rem 3rem 0;
    transition: linear .2s;

    img {
      width: 5rem;
      height: 5rem;
      object-fit: contain;
    }

    &:hover {
      opacity: .8;
    }
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16.5rem;
    height: 8.5rem;
    border-radius: 2rem;
    box-shadow: .4rem .5rem 1.4rem 0 rgba(13, 54, 6, 0.25);
    background: rgb(0, 185, 39);
  }
}

/*end invite============*/

/*start programmm==========*/
.programm {
  padding: 4.5rem 0 6rem;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: -50rem;
    right: 0px;
    background-image: url("../images/content/video-bg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top left;
    width: 100%;
    height: 125rem;
  }

  .title {
    text-align: center;
    margin: 0 0 3rem 0;
  }

  &__inner {
    max-width: 130rem;
    width: 100%;
    margin: 0 auto;
  }

  &__tabs {
    position: relative;
    z-index: 1;
    display: flex;
    max-width: 101rem;
    width: 100%;
    margin: 0 auto 6rem;
    box-sizing: border-box;
    border: .3rem solid #FD7914;
    border-radius: 2rem;
    overflow: hidden;

  }

  &__tab {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2.5rem 5rem;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: rgb(253, 121, 20);
    font-family: 'Arista-Pro';
    font-size: 4.3rem;
    font-weight: 700;
    line-height: 110%;
    width: 50%;
    transition: linear .2s;

    span {
      display: flex;
      margin: 0 0.5rem;
      font-family: 'e-Ukraine';
      font-size: 3.2rem;
    }
  }

  &__tab.active {
    background-color: #FD7914;
    color: #fff;
  }

  &__inner+.btn {
    margin: 6rem auto 8rem;
  }

  &__inner-twoo {
    margin: 0 0 5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
      max-width: 93rem;
      width: 100%;
      margin: 0 3rem 0 -5.5rem;
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;

    }

    li {
      display: flex;
      width: calc(50% - 5.5rem);
      margin: 0 0 9rem 5.5rem;
    }
  }

  &__img {
    margin: 0 2.5rem 0 0;
    width: 11rem;
    height: 11rem;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(25deg);
      width: 10rem;
      height: 10rem;
      border-radius: 2rem;
      box-shadow: 0 1, 4rem 4.4rem 0 rgba(0, 0, 0, 0.25);
      background: linear-gradient(152.20deg, rgb(253, 121, 20) 9.082%, rgb(255, 184, 0) 100.981%);
    }

    img {
      position: relative;
      z-index: 1;
      width: 11.5rem;
      height: 11.5rem;
      object-fit: contain;
    }
  }

  &__right {
    max-width: 69rem;
    width: 100%;

    p {
      margin: 0 0 2.5rem 0;
    }

    h4 {
      margin: 0 0 3rem 0;
      color: rgb(238, 255, 242);
      font-family: 'Arista-Pro';
      font-size: 6.3rem;
      font-weight: 700;
      line-height: 120%;
    }
  }


  &__inner-three {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 6rem 0;

    h4 {
      margin: 0 0 3rem 0;
      color: rgb(238, 255, 242);
      font-family: 'Arista-Pro';
      font-size: 6.3rem;
      font-weight: 700;
      line-height: 120%;
    }

    .btn {
      margin: 0 0 0 auto;
    }
  }

  &__slider {
    .slick-slide {
      margin: 0 3rem 0 0;
    }

    .slick-list {
      margin: 0 0 0 20%;
    }

    .slider-arrows {
      position: absolute;
      top: -1rem;
      cursor: pointer;
      transition: linear .2s;
      width: 14rem;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }

      &:hover {
        opacity: .8;
      }
    }

    .slider-arrows__right {
      left: 12rem;
    }
  }

  &__slider-item {
    border-radius: 20px;
    overflow: hidden;
    height: 36.5rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.video__inner {
  position: relative;
  width: 100%;
  height: 73rem;
  overflow: hidden;
  cursor: pointer;
  border-radius: 1.5rem;
  overflow: hidden;
}

.video__inner.play .video__img {
  opacity: 0;
  z-index: -1;
  -webkit-transform: scale(3);
  -ms-transform: scale(3);
  transform: scale(3);
}


.video__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  -webkit-transition: linear .5s;
  -o-transition: linear .5s;
  transition: linear .5s;
  z-index: 2;
}

.video__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

/*end programmm==========*/

/*start review===========*/
.review {
  padding: 5rem 0 6rem;

  .title {
    text-align: center;
    margin: 0 0 2rem 0;
  }

  .container>p {
    max-width: 93rem;
    width: 100%;
    margin: 0 auto 5rem;
    text-align: center;
  }

  &__slider {
    position: relative;
    padding: 0 12.5rem;
    overflow: hidden;
    box-sizing: border-box;
  }

  .swiper-slide {
    padding: 6rem 11.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 2rem;
    box-shadow: .6rem .3rem .2rem 0 rgba(0, 40, 6, 0.85);
    box-sizing: border-box;
    border: .3rem solid #FFB800;
    background-image: url("../images/content/review-bg.webp");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    p {
      color: rgb(255, 255, 255);
      font-size: 2rem;
      line-height: 150%;
    }
  }

  &__img {
    margin: 0 7rem 0 0;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__top {
    display: flex;
    align-items: center;

    a {
      color: rgb(255, 255, 255);
      font-family: 'e-Ukraine';
      font-size: 2rem;
      font-weight: 400;
      line-height: 150%;
      display: flex;
      align-items: center;
      margin: 0 0 0 auto;
      transition: linear .2s;
      text-decoration: underline;
      text-decoration-color: transparent;

      &:hover {
        text-decoration-color: #fff;
      }

      img {
        width: 3rem;
        height: 3rem;
        margin: 0 0 0 1rem;
      }
    }
  }

  &__name {
    color: rgb(255, 255, 255);
    font-family: 'Arista-Pro';
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 100%;
    margin: 0 2rem 0 0;
  }

  .rating {
    border: none;
    float: left;
  }

  .rating>label {
    color: #fff;
    float: right;
  }

  .rating>label:before {
    margin: .5rem;
    font-size: 2rem;
    font-family: 'FontAwesome';
    content: "\f005";
    display: inline-block;
  }

  .rating>input {
    display: none;
  }

  .rating>input:checked~label,
  .rating:not(:checked)>label:hover,
  .rating:not(:checked)>label:hover~label {
    color: #F79426;
  }

  .rating>input:checked+label:hover,
  .rating>input:checked~label:hover,
  .rating>label:hover~input:checked~label,
  .rating>input:checked~label:hover~label {
    color: #FECE31;
  }

  .swiper-button-prev,
  .swiper-button-next {
    width: 9rem;
    height: 7rem;
    position: absolute;
    top: 2.8rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    &::after {
      display: none;
    }
  }

  .swiper-button-prev {
    left: 0;
  }

  .swiper-button-next {
    right: 0;
  }
}

/*end review===========*/

/*start excellence===========*/
.excellence {
  padding: 8rem 0 3rem;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 5rem 0;

    .title {
      max-width: 74rem;
      line-height: 100%;
    }

    p {
      max-width: 87rem;
      width: 100%;
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  ul {
    max-width: 132rem;
    width: 100%;
    margin: 0 3rem 0 -5.5rem;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  li {
    padding: 0 0 0 15rem;
    position: relative;
    display: flex;
    flex-direction: column;
    width: calc(50% - 5.5rem);
    margin: 0 0 10rem 5.5rem;

    h6 {
      color: rgb(253, 121, 20);
      font-family: 'Arista-Pro';
      font-size: 4rem;
      font-weight: 700;
      line-height: 110%;
      text-transform: lowercase;
    }

    p {
      margin: 0;
      color: rgb(255, 255, 255);
      font-size: 2.4rem;
      font-weight: 500;
    }
  }

  &__img {
    position: absolute;
    left: 0;

    img {
      position: relative;
      z-index: 1;
      width: 11.5rem;
      height: 11.5rem;
      object-fit: contain;
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(25deg);
      width: 10rem;
      height: 10rem;
      border-radius: 2rem;
      box-shadow: 0 1, 4rem 4.4rem 0 rgba(0, 0, 0, .25);
      background: linear-gradient(152.2deg, rgb(253, 121, 20) 9.082%, rgb(255, 184, 0) 100.981%);
    }
  }

  &__right {
    max-width: 43rem;
    width: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

/*end excellence===========*/

/*start team===========*/
.team {
  padding: 3rem 0 5rem;

  .title {
    text-align: center;
    margin: 0 0 2rem 0;
  }

  .container>p {
    max-width: 150rem;
    width: 100%;
    margin: 0 auto 5rem;
    text-align: center;
  }

  &__slider {
    position: relative;
    padding: 0 11.5rem;
    overflow: hidden;
    box-sizing: border-box;
    overflow: hidden;
  }

  &__img {
    width: 100%;
    height: 46rem;
    border-radius: 20px;
    box-shadow: 5.2px 5.2px 19.41px 0px rgba(7, 17, 66, 0.25);
    overflow: hidden;
    margin: 0 0 2rem 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .swiper-slide {
    overflow: hidden;

    h6 {
      color: rgb(253, 121, 20);
      font-family: 'Arista-Pro';
      font-size: 4rem;
      font-weight: 700;
      line-height: 150%;
    }

    p {
      margin: 0;
      color: rgb(255, 255, 255);
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    width: 9rem;
    height: 7rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    &::after {
      display: none;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .btn {
    margin: 6rem auto 0;
  }
}

/*end team===========*/

/*start map=============*/
.map {
  padding: 6rem 0 5rem;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: -50rem;
    right: 0px;
    background-image: url("../images/content/video-bg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top left;
    width: 100%;
    height: 125rem;
  }

  .title {
    text-align: center;
  }

  &__inner {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
  }

  &__left {
    max-width: 110rem;
    width: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 65rem;
    width: 100%;
  }

  strong {
    color: #fff;
    font-family: 'Arista-Pro';
    font-size: 6rem;
    font-weight: 700;
    line-height: 150%;

    span {
      font-family: 'e-Ukraine';
      font-weight: 700;
      font-size: 5.5rem;
    }
  }

  strong+p {
    color: #FD7914;
    font-size: 2rem;
    font-weight: 400;
    line-height: 150%;
    text-align: right;
    max-width: 33rem;
    margin: -1rem 0 3rem auto;
  }

  p {
    color: #fff;
    margin: 0 0 0 -4rem;
  }
}

/*end map=============*/



/*cost================*/
.cost {
  padding: 0 0 4rem 0;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: -25rem;
    right: 0px;
    background-image: url("../images/content/invite-bg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top right;
    width: 100%;
    height: 125rem;
  }

  &__top {
    display: flex;
    align-items: center;
    margin: 0 0 4rem 0;

    p {
      margin: 0;
      color: rgb(238, 255, 242);
      font-family: 'Arista-Pro';
      font-size: 4.1rem;
      font-weight: 700;
      line-height: 150%;
      text-transform: lowercase;
    }

    p:last-child {
      position: relative;
      padding: 0 0 0 2.5rem;
      margin: 0 0 0 1.5rem;

      &::after {
        position: absolute;
        content: '';
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        height: 60%;
        width: 7px;
        border-radius: 2rem;
        background-color: #fff;
      }
    }

    strong {
      font-family: 'e-Ukraine';
      color: #FD7914;
      font-size: 3.5rem;
    }

    span {
      font-family: 'e-Ukraine';
      font-size: 3.5rem;
    }
  }

  &__pay {
    margin: 0 4rem 0 auto;
    color: #00B927;
    font-family: 'Arista-Pro';
    font-size: 5.1rem;
    font-weight: 700;
    line-height: 150%;
    text-transform: lowercase;
  }

  &__mid {
    margin: 0 0 6.5rem 0;
    padding: 4.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: .6rem .3rem .2rem 0 rgba(0, 40, 6, .85);
    border-radius: 2rem;
    border: .3rem solid #ffb800;
    background-image: url('../images/content/cost-mid.webp');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    strong {
      color: rgb(255, 255, 255);
      font-family: 'Arista-Pro';
      font-size: 5.5rem;
      font-weight: 900;
      line-height: 150%;

    }

    span {
      font-size: 2rem;
      color: #fff;
    }

    p {
      display: flex;
      align-items: center;
      color: #fff;

      img {
        width: 7rem;
        height: 7rem;
        object-fit: contain;
        margin: 0 3rem 0 0;
      }

      span {
        padding: 0 0.3rem;
        font-size: 2.3rem;
      }
    }
  }

  &__coll {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__coll:nth-child(2) {
    margin: 0 3rem;
  }

  &__box {
    display: flex;
    justify-content: flex-start;
    margin: 0 0 0 -3.5rem;
    flex-wrap: wrap;

    .cost__coll {
      strong {
        color: #fff;
        font-family: "Arista-Pro";
        font-size: 5.5rem;
        font-weight: 900;
        line-height: 150%;

        span {
          font-family: 'e-Ukraine';
          font-size: 4rem;
        }
      }

      p {
        display: flex;
        align-items: center;
        color: #fff;

        img {
          width: 7rem;
          height: 7rem;
          object-fit: contain;
          margin: 0 3rem 0 0;
        }

        span {
          padding: 0 0.3rem;
          font-size: 2.3rem;
        }
      }
    }
  }

  &__item {
    width: calc(50% - 3.5rem);
    margin: 0 0 3.5rem 3.5rem;
    border-radius: 2rem;
    box-shadow: 0 1.4rem 3.4rem 0 rgba(0, 0, 0, 0.25);
    background: linear-gradient(173.13deg, rgb(0, 185, 30) 18.899%, rgb(10, 121, 0) 101.395%);

  }

  &__item-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4.5rem 13rem 4.5rem 8rem;
    background: url('../images/content/cost__itembg.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

}

/*cost================*/


/*start entry=============*/
.entry {
  padding: 7.5rem 0 8rem;

  &__inner {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    box-shadow: .6rem .3rem .2rem 0 rgba(0, 40, 6, .85);
    border-radius: 2rem;
    border: .3rem solid #ffb800;
    padding: 5rem;
    color: #fff;
  }

  &__left {
    max-width: 78.5rem;
    width: 100%;
    position: relative;

    ul {
      max-width: 35rem;
      margin: 0 0 0 5.5rem;
    }

    li {
      padding: 0 0 0 6rem;
      margin: 0 0 4rem 0;
      position: relative;
      font-size: 2.2rem;
      font-weight: 500;
      line-height: 150%;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 2.7rem;
        height: 3.7rem;
        background-image: url("../images/icons/entry1.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }
    }

  }

  h6 {
    margin: 0 0 4rem 0;
    font-family: 'Arista-Pro';
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 100%;
  }

  &__img {
    position: absolute;
    bottom: 0;
    right: -5rem;
    width: 75%;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__right {
    max-width: 79rem;
    width: 100%;
    padding: 6.5rem 5.5rem 9rem 5.5rem;
    border-radius: 20px;
    box-shadow: 4px 4px 17.7px 0px rgba(12, 43, 5, 0.45);
    background: linear-gradient(180.00deg, rgb(0, 185, 30), rgb(10, 121, 0) 100%);

    &>p {
      color: rgba(255, 255, 255, 0.8);
      margin: 0 0 5rem 0;
    }
  }

}

.form {
  &__input-wrap {
    width: 100%;
    margin: 0 0 3rem 0;

    input {
      height: 7.3rem;
      padding: 2.8rem;
      width: 100%;
      border-radius: 2rem;
      box-shadow: .4rem .4rem 1rem 0 rgba(139, 85, 22, 0.14);
      background: rgb(255, 255, 255);
      border: none;
    }
  }

  .btn {
    width: 100%;
    height: 7.3rem;
    font-size: 2.15rem;
  }

  p {
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 150%;
    text-align: center;

    a {
      text-decoration: underline;
      text-decoration-color: #fff;
      transition: linear .2s;

      &:hover {
        text-decoration-color: transparent;
      }
    }
  }
}

/*end entry=============*/

/*start faq=======*/
.faq {
  padding: 3rem 0 11rem;

  .title {
    text-align: center;
    color: #fff;
    margin: 0 0 3rem 0;
  }
}

.accordeon {
  color: #fff;

  dl {
    margin: 0 0 4rem 0;
  }

  dt {
    border: .5rem solid #FD7914;
    border-left: none;
    border-right: none;
    border-top: none;
    padding: 2rem 4rem 2rem 0;
    position: relative;
    font-weight: 700;
    cursor: pointer;
    font-size: 24px;
    font-weight: 400;
    line-height: 150%;

    &::before {
      content: "";
      position: absolute;
      top: 2.4rem;
      transform: rotate(45deg);
      right: 2rem;
      width: 2rem;
      height: 2rem;
      border: .5rem solid #fff;
      border-top: none;
      border-left: none;
      transition: linear .2s;
    }
  }

  dt.active::before {
    transform: rotate(-135deg);
    border-color: #FD7914;

  }

  dd {
    margin: 2rem 0 2rem 0;
    font-size: 24px;
    font-weight: 400;
    line-height: 150%;
    color: #FD7914;
  }
}

/*end faq=======*/





/*start footer===========*/
.footer {
  background-color: #00B927;
  padding: 6rem 0 0;
  color: #fff;

  &__inner {
    left: 0;
    right: 0;
    display: flex;
  }

  &__logo {
    margin: 0 9.5rem 0 0;
    width: 19.5rem;
    height: 6rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain
    }
  }

  nav {
    margin: 0 20rem 0 0;

    ul {
      display: flex;
      flex-direction: column;
    }

    li {
      margin: 0 0 1.5rem 0;
    }

    a {
      text-decoration: underline;
      text-decoration-color: transparent;
      transition: linear .2s;

      &:hover {
        text-decoration-color: #fff;
      }
    }
  }

  &__box {
    max-width: 76rem;
    width: 100%;

    ul {
      display: flex;
      flex-wrap: wrap;
      margin: 0 0 0 -8rem;
    }

    li {
      width: calc(50% - 8rem);
      margin: 0 0 6rem 8rem;
    }

    a {
      display: flex;
      align-items: center;
      text-decoration: underline;
      text-decoration-color: #fff;
      transition: linear .2s;
      font-size: 2rem;

      &:hover {
        text-decoration-color: transparent;
      }

      img {
        margin: 0 1.5rem 0 0;
      }
    }
  }

  &__col {
    margin: 0 0 0 3rem;

    ul {
      display: flex;
      flex-direction: column;
      width: 3.2rem;
      height: 3.2rem;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    li {
      margin: 0 0 6rem 0;
      transition: linear .2s;

      &:hover {
        opacity: .8;
      }
    }
  }
}

.subfooter {
  color: rgb(255, 255, 255);
  font-size: 2rem;
  line-height: 120%;

  &__inner {
    padding: 1.5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      padding: 1rem 1rem 1rem 0;
      margin: 0 1rem 0 0;
      border-right: .2rem solid #fff;
    }

    a {
      text-decoration: underline;
      text-decoration-color: #fff;
      transition: linear .2s;
      font-size: 2rem;

      &:hover {
        text-decoration-color: transparent;
      }
    }
  }
}

/*end footer===========*/

.up-page {
  position: fixed;
  z-index: 10;
  right: 10rem;
  bottom: 5rem;
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  transition: linear .2s;

  &:hover {
    opacity: .8;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}



@import "media";