@import 'fonts';
@import 'global';
@import 'btns';

.btn-mob {
  display: none;
}

.header {
  color: #fff;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999;
  background-color: transparent;
  transition: linear .5s;

  &__inner {
    display: flex;
    align-items: center;
    height: 9.5rem;
  }

  &__logo {
    width: 17rem;
    margin: 0 3rem 0 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__nav {
    margin: 0 32rem 0 auto;

    ul {
      display: flex;
      align-items: center;
    }

    li+li {
      margin: 0 0 0 6rem;
    }

    a {
      text-decoration: underline;
      text-decoration-color: transparent;
      transition: linear .2s;

      &:hover {
        text-decoration-color: #fff;
      }
    }
  }

  &__tel {
    font-size: 2rem;
    text-decoration: underline;
    text-decoration-color: #fff;
    transition: linear .2s;

    &:hover {
      text-decoration-color: transparent;
    }
  }

  &__menu-btn {
    display: none;
  }
}

.mob-item {
  display: none;
}

.header.sticky {
  backdrop-filter: blur(20px);
  background-color: rgba(#0B1F52, .7);
}

.header.active {
  background-color: #0B1F52;
}

/*start intro===========*/
.intro {
  padding: 22rem 0 3rem 0;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../images/content/intro-bg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top left;
    width: 100%;
    height: 150rem;
  }

  &__inner {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
  }

  &__left {
    max-width: 73rem;
    width: 100%;
    margin: 0 3rem 0 0;

    img {
      width: 100%;
      height: 11rem;
      object-fit: contain;
    }

    h6 {
      margin: 0 0 3rem 0;
      color: rgb(255, 255, 255);
      font-family: 'Comfortaa';
      font-size: 4.2rem;
      font-weight: 400;
      line-height: 130%;
      text-transform: lowercase;
    }

    p {
      margin: 0 0 1.5rem 0;
    }
  }

  .btn {
    margin: 9rem 0 0 0;
  }

  &__right {
    margin: -11rem 0 0 0;
    max-width: 81.5rem;
    width: 100%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      transition: linear .1s;
    }

    img:nth-child(1) {
      bottom: 2%;
      left: 12%;
    }

    img:nth-child(2) {
      top: 23%;
      left: 1%;
    }

    img:nth-child(3) {
      top: 15%;
      right: 8%;
    }

    img:nth-child(4) {
      bottom: 20%;
      right: 4%;
    }

    &--three {
      .intro-decor.element-show:nth-child(1) {
        bottom: 0;
        right: 0;
        animation: test-animation .5s forwards;
        animation-duration: 2s;
        animation-delay: 1s;
      }

      .intro-decor.element-show:nth-child(2) {
        left: 2%;
        top: auto;
        bottom: 43%;
        animation: test-animation .5s forwards;
        animation-duration: 2s;
        animation-delay: 2s;
      }

      .intro-decor.element-show:nth-child(3) {
        left: 27%;
        top: 7%;
        animation: test-animation .5s forwards;
        animation-duration: 2s;
        animation-delay: 3s;
      }

      .intro-decor.element-show:nth-child(4) {
        left: 40%;
        top: 22%;
        animation: test-animation .5s forwards;
        animation-duration: 2s;
        animation-delay: 4s;
      }

      .intro-decor.element-show:nth-child(5) {
        bottom: 5%;
        right: 51%;
        animation: test-animation .5s forwards;
        animation-duration: 2s;
        animation-delay: 5s;
      }

      .intro-decor.element-show:nth-child(6) {
        bottom: 5%;
        right: 7%;
        z-index: 1;
        animation: test-animation .5s forwards;
        animation-duration: 2s;
        animation-delay: 6s;
      }
    }
  }

  .intro-decor {
    width: auto;
    height: auto;
    object-fit: contain;
    opacity: 0;
    transition: linear .2s;
  }

  .intro-decor.element-show:nth-child(1) {
    animation: test-animation .5s forwards;
    animation-duration: 2s;
    animation-delay: 1s;
  }

  .intro-decor.element-show:nth-child(2) {
    animation: test-animation .5s forwards;
    animation-duration: 2s;
    animation-delay: 2s;
  }

  .intro-decor.element-show:nth-child(3) {
    animation: test-animation .5s forwards;
    animation-duration: 2s;
    animation-delay: 3s;
  }

  .intro-decor.element-show:nth-child(4) {
    animation: test-animation .5s forwards;
    animation-duration: 2s;
    animation-delay: 4s;
  }

  @keyframes test-animation {
    100% {
      opacity: 1;
    }
  }

  &--twoo {
    h6 {
      text-transform: inherit;
      color: rgb(255, 255, 255);
      font-size: 4.5rem;
      font-weight: 700;
      line-height: 140%;
    }
  }

  &--gradient {
    background: linear-gradient(180.00deg, rgba(11, 31, 82, 0), rgb(0, 185, 39) 0.01%, rgba(11, 31, 82, 0) 57%);
    padding: 15rem 0 3rem 0;

    h6 {
      text-transform: inherit;
      color: rgb(255, 255, 255);
      font-size: 8.2rem;
      font-weight: 700;
      line-height: 140%;
    }

    &::after {
      display: none;
    }

    .intro__right {
      margin: 0;
    }

  }
}

/*end intro===========*/

/*start invite============*/
.invite {
  padding: 3rem 0 3rem;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: -60rem;
    right: 0px;
    background-image: url("../images/content/invite-bg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top right;
    width: 100%;
    height: 125rem;
  }

  &__inner {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
  }

  &__left {
    position: relative;
    z-index: 1;
    width: 74rem;
    flex-shrink: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      -webkit-animation: heartbeat 2s infinite alternate;
      animation: heartbeat 2s infinite alternate;
    }
  }

  @-webkit-keyframes heartbeat {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }

    50% {
      -webkit-transform: scale(1.03);
      transform: scale(1.03);
    }

    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }

  &__right {
    max-width: 120rem;
    margin: 0 0 0 -12rem;
    padding: 13rem 0 0 0;
  }

  &__box {
    display: flex;
    align-items: center;
    padding: 5.5rem 11rem 5.5rem 13rem;
    margin: 0 0 5rem 0;
    border-radius: 2rem;
    border: .3rem solid #FD7914;
  }

  h6 {
    color: rgb(255, 255, 255);
    font-family: 'Comfortaa';
    font-size: 4rem;
    font-weight: 700;
    line-height: 100%;
  }

  span {
    display: block;
    width: fit-content;
    padding: 0.1rem 3rem;
    margin: 0 5rem;
    color: rgb(255, 255, 255);
    font-family: 'Comfortaa';
    font-size: 5.4rem;
    font-weight: 700;
    line-height: 100%;
    text-transform: lowercase;
    border-radius: 2rem;
    box-shadow: .4rem .5rem 1.4rem 0 rgba(13, 54, 6, 0.25);
    background: rgb(0, 185, 39);
  }

  p {
    padding: 0 0 0 13rem;
    margin: 0 0 1.5rem 0;
  }

  .soc {
    padding: 0 0 0 13rem;
    margin: 6rem 0 0 0;
  }
}

.soc {
  display: flex;
  flex-wrap: wrap;

  li {
    margin: 0 6rem 3rem 0;
    transition: linear .2s;

    img {
      width: 5rem;
      height: 5rem;
      object-fit: contain;
    }

    &:hover {
      opacity: .8;
    }
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16.5rem;
    height: 8.5rem;
    border-radius: 2rem;
    box-shadow: .4rem .5rem 1.4rem 0 rgba(13, 54, 6, 0.25);
    background: rgb(0, 185, 39);
  }
}

/*end invite============*/

/*start programmm==========*/
.programm {
  padding: 4.5rem 0 6rem;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: -50rem;
    right: 0px;
    background-image: url("../images/content/video-bg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top left;
    width: 100%;
    height: 125rem;
  }

  .title {
    text-align: center;
    margin: 0 0 3rem 0;
  }

  &__item {
    max-width: 130rem;
    width: 100%;
    margin: 0 auto;
  }

  &__tabs {
    position: relative;
    z-index: 1;
    display: flex;
    max-width: 101rem;
    width: 100%;
    margin: 0 auto 6rem;
    box-sizing: border-box;
    border: .3rem solid #FD7914;
    border-radius: 2rem;
    overflow: hidden;

  }

  &__tab {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2.5rem 5rem;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: rgb(253, 121, 20);
    font-family: 'Comfortaa';
    font-size: 4.3rem;
    font-weight: 700;
    line-height: 110%;
    width: 50%;
    transition: linear .2s;

    span {
      display: flex;
      margin: 0 0.5rem;
      font-family: 'e-Ukraine';
      font-size: 3.2rem;
    }
  }

  &__tab.active {
    background-color: #FD7914;
    color: #fff;
  }

  &__item+.btn {
    margin: 6rem auto 8rem;
  }

  &__inner-twoo {
    margin: 0 0 5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
      max-width: 93rem;
      width: 100%;
      margin: 0 3rem 0 -5.5rem;
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;

    }

    li {
      display: flex;
      width: calc(50% - 5.5rem);
      margin: 0 0 9rem 5.5rem;

    }
  }

  &__img {
    margin: 0 4.5rem 0 0;
    width: 11rem;
    height: 11rem;
    position: relative;
    transition: linear .3s;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(25deg);
      width: 10rem;
      height: 10rem;
      border-radius: 2rem;
      box-shadow: 0 1, 4rem 4.4rem 0 rgba(0, 0, 0, 0.25);
      background: linear-gradient(152.20deg, rgb(253, 121, 20) 9.082%, rgb(255, 184, 0) 100.981%);
      transition: linear .3s;
    }

    img {
      position: relative;
      z-index: 1;
      width: 11.5rem;
      height: 11.5rem;
      object-fit: contain;
    }
  }

  &__right {
    max-width: 69rem;
    width: 100%;

    p {
      margin: 0 0 2.5rem 0;
    }

    h4 {
      margin: 0 0 3rem 0;
      color: rgb(238, 255, 242);
      font-family: 'Comfortaa';
      font-size: 5.3rem;
      font-weight: 700;
      line-height: 120%;
    }
  }


  &__inner-three {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 6rem 0;

    h4 {
      margin: 0 0 3rem 0;
      color: rgb(238, 255, 242);
      font-family: 'Comfortaa';
      font-size: 5rem;
      font-weight: 700;
      line-height: 120%;
    }

    .btn {
      margin: 0 0 0 auto;
    }

  }

  .btn--mob {
    display: none;
  }

  &__slider {
    .slick-slide {
      margin: 0 3rem 0 0;
    }

    .slick-list {
      margin: 0 0 0 20%;
    }

    .slider-arrows {
      position: absolute;
      top: -1rem;
      cursor: pointer;
      transition: linear .2s;
      width: 11rem;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }

      &:hover {
        opacity: .8;
      }
    }

    .slider-arrows__right {
      left: 14rem;
    }
  }

  &__slider-item {
    border-radius: 20px;
    overflow: hidden;
    height: 36.5rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.video__inner {
  position: relative;
  width: 100%;
  height: 73rem;
  overflow: hidden;
  cursor: pointer;
  border-radius: 1.5rem;
  overflow: hidden;
}

.video__inner.play .video__img {
  opacity: 0;
  z-index: -1;
  -webkit-transform: scale(3);
  -ms-transform: scale(3);
  transform: scale(3);
}


.video__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  -webkit-transition: linear .5s;
  -o-transition: linear .5s;
  transition: linear .5s;
  z-index: 2;
}

.video__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

/*end programmm==========*/

/*start review===========*/
.review {
  padding: 5rem 0 6rem;

  .title {
    text-align: center;
    margin: 0 0 2rem 0;
  }

  .container>p {
    max-width: 93rem;
    width: 100%;
    margin: 0 auto 5rem;
    text-align: center;
  }

  &__slider {
    position: relative;
    padding: 2rem 14.5rem;
    overflow: hidden;
    box-sizing: border-box;
  }

  .swiper-slide {
    padding: 6rem 11.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 2rem;
    box-shadow: 0px 0px 20px 0px rgba(0, 40, 6, 0.3);
    box-sizing: border-box;
    border: .3rem solid #FFB800;
    background-image: url("../images/content/review-bg.webp");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    p {
      color: rgb(255, 255, 255);
      font-size: 2rem;
      line-height: 150%;
    }

  }

  &__img {
    margin: 0 7rem 0 0;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__top {
    display: flex;
    align-items: center;

    a {
      color: rgb(255, 255, 255);
      font-family: 'e-Ukraine';
      font-size: 2rem;
      font-weight: 400;
      line-height: 150%;
      display: flex;
      align-items: center;
      margin: 0 0 0 auto;
      transition: linear .2s;
      text-decoration: underline;
      text-decoration-color: transparent;

      &:hover {
        text-decoration-color: #fff;
      }

      img {
        width: 3rem;
        height: 3rem;
        margin: 0 0 0 1rem;
      }
    }
  }

  &__name {
    color: rgb(255, 255, 255);
    font-family: 'Comfortaa';
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 100%;
    margin: 0 2rem 0 0;
  }

  .rating {
    border: none;
    float: left;
  }

  .rating>label {
    color: #fff;
    float: right;
  }

  .rating>label:before {
    margin: .5rem;
    font-size: 2rem;
    font-family: 'FontAwesome';
    content: "\f005";
    display: inline-block;
  }

  .rating>input {
    display: none;
  }

  .rating>input:checked~label,
  .rating:not(:checked)>label:hover,
  .rating:not(:checked)>label:hover~label {
    color: #F79426;
  }

  .rating>input:checked+label:hover,
  .rating>input:checked~label:hover,
  .rating>label:hover~input:checked~label,
  .rating>input:checked~label:hover~label {
    color: #FECE31;
  }

  .swiper-button-prev,
  .swiper-button-next {
    width: 12rem;
    height: 9rem;
    position: absolute;
    top: 4rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    &::after {
      display: none;
    }
  }

  .swiper-button-prev {
    left: 0;
  }

  .swiper-button-next {
    right: 0;
  }
}

/*end review===========*/

/*start excellence===========*/
.excellence {
  padding: 8rem 0 3rem;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 5rem 0;

    .title {
      max-width: 74rem;
      line-height: 100%;
    }

    p {
      max-width: 87rem;
      width: 100%;
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  ul {
    max-width: 132rem;
    width: 100%;
    margin: 0 3rem 0 -5.5rem;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  li {
    padding: 0 0 0 15rem;
    position: relative;
    display: flex;
    flex-direction: column;
    width: calc(50% - 5.5rem);
    margin: 0 0 10rem 5.5rem;

    h6 {
      color: rgb(253, 121, 20);
      font-family: 'Comfortaa';
      font-size: 2.9rem;
      font-weight: 700;
      line-height: 110%;
    }

    p {
      margin: 0;
      color: rgb(255, 255, 255);
      font-size: 2.2rem;
      font-weight: 500;
    }
  }

  &__img {
    position: absolute;
    left: 0;
    transition: linear .3s;

    img {
      position: relative;
      z-index: 1;
      width: 11.5rem;
      height: 11.5rem;
      object-fit: contain;
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(25deg);
      width: 10rem;
      height: 10rem;
      border-radius: 2rem;
      box-shadow: 0 1, 4rem 4.4rem 0 rgba(0, 0, 0, .25);
      background: linear-gradient(152.2deg, rgb(253, 121, 20) 9.082%, rgb(255, 184, 0) 100.981%);
      transition: linear .3s;
    }
  }

  &__right {
    max-width: 43rem;
    width: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

/*end excellence===========*/

/*start team===========*/
.team {
  padding: 3rem 0 5rem;

  .title {
    text-align: center;
    margin: 0 0 2rem 0;
  }

  .container>p {
    max-width: 150rem;
    width: 100%;
    margin: 0 auto 5rem;
    text-align: center;
  }

  &__slider {
    position: relative;
    padding: 0 12.5rem;
    overflow: hidden;
    box-sizing: border-box;
    overflow: hidden;
  }

  &__img {
    width: 100%;
    height: 46rem;
    border-radius: 2rem;
    box-shadow: 5.2px 5.2px 19.41px 0px rgba(7, 17, 66, 0.25);
    overflow: hidden;
    margin: 0 0 2rem 0;
    background-color: #000;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: linear .2s;
    }

    &:hover {
      img {
        opacity: .8;
      }
    }
  }

  .slick-slide {
    margin: 0 3.5rem;
  }

  .swiper-slide {
    overflow: hidden;

    h6 {
      color: rgb(253, 121, 20);
      font-family: 'Comfortaa';
      font-size: 2.8rem;
      font-weight: 700;
      line-height: 150%;
    }

    p {
      margin: 0;
      color: rgb(255, 255, 255);
    }
  }

  .slider-arrows {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: linear .2s;
    width: 11rem;

    &:hover {
      opacity: .8;
    }
  }

  .slider-arrows__left {
    left: 0;
  }

  .slider-arrows__right {
    right: 0;
    transform: translateY(-50%) rotate(180deg);
  }

  .btn {
    margin: 6rem auto 0;
  }
}

/*end team===========*/

/*start map=============*/
.map {
  padding: 6rem 0 5rem;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: -50rem;
    right: 0px;
    background-image: url("../images/content/video-bg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top left;
    width: 100%;
    height: 125rem;
  }

  .title {
    text-align: center;
    margin-bottom: 3rem;
  }

  &__inner {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
  }

  &__left {
    max-width: 110rem;
    width: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 65rem;
    width: 100%;
  }

  strong {
    color: #fff;
    font-family: 'Comfortaa';
    font-size: 6rem;
    font-weight: 700;
    line-height: 150%;
  }

  strong+p {
    color: #FD7914;
    font-size: 2rem;
    font-weight: 400;
    line-height: 150%;
    text-align: right;
    max-width: 33rem;
    margin: -1rem 0 3rem auto;
  }

  p {
    color: #fff;
    margin: 0 0 0 -4rem;
  }
}

/*end map=============*/



/*cost================*/
.cost {
  padding: 0 0 4rem 0;
  position: relative;

  .container {
    position: relative;
    z-index: 1;
  }

  &::after {
    content: "";
    position: absolute;
    top: -25rem;
    right: 0px;
    background-image: url("../images/content/invite-bg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top right;
    width: 100%;
    height: 125rem;
  }

  &__top {
    display: flex;
    align-items: center;
    margin: 0 0 4rem 0;

    p {
      margin: 0;
      color: rgb(238, 255, 242);
      font-family: 'Comfortaa';
      font-size: 2.8rem;
      font-weight: 700;
      line-height: 150%;
      text-transform: lowercase;
    }

    p:last-child {
      position: relative;
      padding: 0 0 0 2.5rem;
      margin: 0 0 0 1.5rem;

      &::after {
        position: absolute;
        content: '';
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        height: 60%;
        width: 7px;
        border-radius: 2rem;
        background-color: #fff;
      }
    }

    strong {
      font-family: 'Comfortaa';
      color: #FD7914;
    }

    span {
      font-family: 'e-Ukraine';
      font-size: 3.5rem;
    }
  }

  &__pay {
    margin: 0 4rem 0 auto;
    color: #00B927;
    font-family: 'Comfortaa';
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 150%;
    text-transform: lowercase;
  }

  &__mid {
    margin: 0 0 6.5rem 0;
    padding: 4.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 14px 34px 0px rgba(0, 0, 0, 0.25);
    border-radius: 2rem;
    border: .3rem solid #ffb800;
    background-image: url('../images/content/cost-mid.webp');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    strong {
      color: rgb(255, 255, 255);
      font-family: 'Comfortaa';
      font-size: 5.5rem;
      font-weight: 900;
      line-height: 150%;

    }

    p {
      display: flex;
      align-items: center;
      color: #fff;

      img {
        width: 7rem;
        height: 7rem;
        object-fit: contain;
        margin: 0 3rem 0 0;
        transition: linear .3s;
      }

      span {
        padding: 0 0.3rem;
        font-size: 2.3rem;
      }
    }
  }

  &__coll {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__coll:nth-child(2) {
    margin: 0 3rem;
  }

  &__box {
    display: flex;
    justify-content: flex-start;
    margin: 0 0 0 -3.5rem;
    flex-wrap: wrap;

    .cost__coll {
      strong {
        color: #fff;
        font-family: 'Comfortaa';
        font-size: 5.5rem;
        font-weight: 900;
        line-height: 150%;

        span {
          font-size: 4rem;
        }
      }

      p {
        display: flex;
        align-items: center;
        color: #fff;

        img {
          width: 7rem;
          height: 7rem;
          object-fit: contain;
          margin: 0 3rem 0 0;
          transition: linear .3s;
        }

        span {
          padding: 0 0.3rem;
          font-size: 2.3rem;
        }
      }
    }
  }

  &__item {
    width: calc(50% - 3.5rem);
    margin: 0 0 3.5rem 3.5rem;
    border-radius: 2rem;
    box-shadow: 0 1.4rem 3.4rem 0 rgba(0, 0, 0, 0.25);
    background: linear-gradient(173.13deg, rgb(0, 185, 30) 18.899%, rgb(10, 121, 0) 101.395%);

  }

  &__item-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4.5rem 13rem 4.5rem 8rem;
    background: url('../images/content/cost__itembg.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

}

/*cost================*/


/*start entry=============*/
.entry {
  padding: 7.5rem 0 8rem;

  &__inner {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    box-shadow: 5px 7px 15.3px 0px #00000094;
    border-radius: 2rem;
    border: .3rem solid #ffb800;
    padding: 5rem;
    color: #fff;
  }

  &__left {
    max-width: 78.5rem;
    width: 100%;
    position: relative;

    ul {
      max-width: 35rem;
      margin: 0 0 0 5.5rem;
    }

    li {
      padding: 0 0 0 6rem;
      margin: 0 0 4rem 0;
      position: relative;
      font-size: 2.2rem;
      font-weight: 500;
      line-height: 150%;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 2.7rem;
        height: 3.7rem;
        background-image: url("../images/icons/entry1.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }
    }

  }

  h6 {
    margin: 0 0 4rem 0;
    font-family: 'Comfortaa';
    font-size: 4rem;
    font-weight: 700;
    line-height: 100%;
  }

  &__img {
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: -5rem;
    width: 75%;
    left: auto;

    img {
      bottom: 8rem;
      right: 3rem;
      width: 100%;
      height: 100%;
      object-fit: contain;
      transition: linear .3s;
    }
  }

  &__right {
    max-width: 79rem;
    width: 100%;
    padding: 6.5rem 5.5rem 9rem 5.5rem;
    border-radius: 2rem;
    box-shadow: 4px 4px 17.7px 0px rgba(12, 43, 5, 0.45);
    background: linear-gradient(180.00deg, rgb(0, 185, 30), rgb(10, 121, 0) 100%);

    &>p {
      color: rgba(255, 255, 255, 0.8);
      margin: 0 0 5rem 0;
    }
  }

}

.form {
  &__input-wrap {
    width: 100%;
    margin: 0 0 3rem 0;

    input {
      height: 7.3rem;
      padding: 2.8rem;
      width: 100%;
      border-radius: 2rem;
      box-shadow: .4rem .4rem 1rem 0 rgba(139, 85, 22, 0.14);
      background: rgb(255, 255, 255);
      border: none;
    }
  }

  .btn {
    width: 100%;
    height: 7.3rem;
    font-size: 2.15rem;
  }

  p {
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 150%;
    text-align: center;

    a {
      text-decoration: underline;
      text-decoration-color: #fff;
      transition: linear .2s;

      &:hover {
        text-decoration-color: transparent;
      }
    }
  }
}

/*end entry=============*/

/*start faq=======*/
.faq {
  padding: 3rem 0 11rem;

  .title {
    text-align: center;
    color: #fff;
    margin: 0 0 3rem 0;
  }
}

.accordeon {
  color: #fff;

  dl {
    margin: 0 0 4rem 0;
  }

  dt {
    border: .5rem solid #FD7914;
    border-left: none;
    border-right: none;
    border-top: none;
    padding: 2rem 4rem 2rem 0;
    position: relative;
    font-weight: 700;
    cursor: pointer;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 150%;

    &::before {
      content: "";
      position: absolute;
      top: 2.4rem;
      transform: rotate(45deg);
      right: 2rem;
      width: 2rem;
      height: 2rem;
      border: .5rem solid #fff;
      border-top: none;
      border-left: none;
      transition: linear .2s;
    }
  }

  dt.active::before {
    transform: rotate(-135deg);
    border-color: #FD7914;

  }

  dd {
    margin: 2rem 0 2rem 0;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 150%;
    color: #FD7914;
  }
}

/*end faq=======*/

/*start history=============*/
.history {
  padding: 6rem 0 3rem;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: -60rem;
    right: 0px;
    background-image: url("../images/content/invite-bg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top right;
    width: 100%;
    height: 125rem;
  }

  &__inner {
    padding: 3rem 3rem 3rem 0;
    border-radius: 4rem;
    box-shadow: 4px 4px 17.6px 0px rgba(0, 68, 7, 0.25);
    border: 0.3rem solid #FD7914;
  }

  .title {
    text-align: center;
    margin: 0 0 2rem 0;

  }

  &__tabs {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 0 6rem 0;
  }

  &__tab {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 1.5rem;
    padding: 2.3rem 4rem;
    background-color: transparent;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-family: 'Comfortaa';
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 150%;
    text-align: center;
    border-radius: 20px;
    box-shadow: 4px 4px 16.8px 0px rgba(13, 67, 0, 0.25);
    border: none;
    border: .2rem solid #00B81D;
    height: 8rem;
    transition: linear .2s;
  }

  &__tab.active {
    border: none;
    border-radius: 2rem;
    box-shadow: 4px 4px 16.8px 0px rgba(13, 67, 0, 0.25);
    background: linear-gradient(180.00deg, rgb(0, 185, 30), rgb(10, 121, 0) 100%);
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  ul {
    max-width: 43.5rem;
    width: 100%;

    li {
      margin: 0 0 6rem 0;
      border-radius: 0 2rem 2rem 0;
      box-shadow: 4px 4px 16.8px 0px rgba(13, 67, 0, 0.25);
      background: rgb(253, 121, 20);
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      height: 8rem;
      width: 100%;
      color: rgb(255, 255, 255);
      font-family: 'Comfortaa';
      font-size: 3.6rem;
      font-weight: 700;
      line-height: 150%;
    }
  }

  &__img {
    max-width: 62rem;
    width: 100%;
    margin: 0 5rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__text {
    max-width: 38rem;
    width: 100%;

    p {
      margin: 0 0 1.5rem 0;
      color: rgb(255, 255, 255);
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 150%;
    }
  }
}

/*enb history=============*/

/*start f-steps=============*/
.f-steps {
  padding: 9rem 0 4rem;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: -50rem;
    right: 0px;
    background-image: url("../images/content/video-bg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top left;
    width: 100%;
    height: 125rem;
  }

  .title {
    text-align: center;
    margin: 0 0 9rem 0;
  }

  ul {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0 0 0 -7.5rem;
  }

  li {
    position: relative;
    padding: 7rem 9.5rem;
    width: calc(50% - 7.5rem);
    margin: 0 0 3.5rem 7.5rem;
    border: 0.3rem solid #FD7914;
    border-radius: 2rem;
    box-shadow: 4px 4px 17.6px 0px rgba(0, 68, 7, 0.25);
    color: #fff;

    &:hover {
      span {
        transform: rotate(0);
      }
    }
  }

  span {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -2rem;
    left: -3rem;
    border-radius: 2rem;
    box-shadow: 0px 14px 44px 0px rgba(0, 0, 0, 0.25);
    background: linear-gradient(152.20deg, rgb(253, 121, 20) 9.082%, rgb(255, 184, 0) 100.981%);
    width: 10rem;
    height: 10rem;
    transform: rotate(29deg);
    font-family: 'Comfortaa';
    color: rgb(255, 255, 255);
    font-size: 9rem;
    font-weight: 700;
    line-height: 150%;
    text-align: center;
    text-shadow: rgb(48 48 48 / 50%) 0.2rem 0.3rem 10px;
    transition: linear .3s;

    p {
      transform: rotate(-15deg);
      margin: 0;
    }
  }

  strong {
    font-weight: 500;
    color: #00B927;
    text-transform: uppercase;
  }
}

/*end f-steps=============*/

/*start selection===========*/
.selection {
  padding: 5rem 0 4rem;

  .title {
    text-align: center;
    margin: 0 0 4rem 0;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__left {
    max-width: 113.5rem;
    width: 100%;
    margin: 0 3rem 0 0;
  }

  &__slider {
    padding: 0 15rem;
    width: 100%;
    box-sizing: border-box !important;

    * {
      box-sizing: border-box !important;
    }

    .slider-arrows {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 11rem;
      cursor: pointer;
      transition: linear .2s;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }

      &:hover {
        opacity: 0.8;
      }
    }

    .slick-slide {
      margin: 0 1rem;
    }
  }

  .slick-track {
    display: flex;
    align-items: center;
  }

  .slider-arrows__left {
    left: 0;
  }

  .slider-arrows__right {
    right: 0;
  }

  &__item {
    color: #fff;
    background: linear-gradient(-31.80deg, rgb(0, 185, 30) 14.517%, rgb(10, 121, 0) 82.314%);
    border-radius: 2rem;
  }

  &__item-inner {
    display: flex;
    align-items: center;
    padding: 4rem 5rem;
    background: linear-gradient(-31.80deg, rgb(0, 185, 30) 14.517%, rgb(10, 121, 0) 82.314%);
    border-radius: 2rem;
    box-shadow: 4px 4px 17.6px 0px rgba(0, 68, 7, 0.25);
    overflow: hidden;
    background-image: url("../images/content/selection.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    &:hover {
      img {
        transform: scale(1.05);
      }
    }
  }

  &__item-img {
    flex-shrink: 0;
    width: 16rem;
    height: 18rem;
    margin: 0 3.5rem 0 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      transition: linear .2s;
    }
  }

  &__item-box {
    h6 {
      font-family: 'Comfortaa';
      font-size: 3.5rem;
      font-weight: 700;
      line-height: 150%;
      margin: 0 0 1rem 0;
    }

    p {
      margin: 0;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 148%;
    }
  }

  &__right {
    max-width: 50.5rem;
    width: 100%;
  }
}

/*end selection===========*/

/*start choice===============*/
.choice {
  padding: 3rem 0 4rem;
  color: rgb(255, 255, 255);

  .container {
    &>h3 {
      text-align: center;
      margin: 0 0 2rem 0;
    }

    &>p {
      text-align: center;
      max-width: 112rem;
      width: 100%;
      text-align: center;
      font-family: 'Comfortaa';
      font-size: 2.2rem;
      font-weight: 700;
      line-height: 149%;
      margin: 0 auto 5rem;
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 0 6rem 0;
  }

  &__inner:nth-child(even) {
    flex-direction: row-reverse;

    .choice__text {
      margin: 0;
    }

    .choice__img {
      margin: 0 4rem 0 0;
    }
  }

  &__text {
    border: 0.3rem solid #FD7914;
    border-radius: 2rem;
    width: 50%;
    margin: 0 4rem 0 0;
    padding: 6rem;

    h6 {
      margin: 0 0 2rem 0;
      color: rgb(253, 121, 20);
      font-family: 'Comfortaa';
      font-size: 4.7rem;
      font-weight: 700;
      line-height: 150%;
      text-transform: lowercase;
    }

    p {
      margin: 0 0 1.5rem 0;
      color: rgb(255, 255, 255);
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 150%;
    }

    p:last-child {
      margin: 0;
    }
  }

  &__img {
    width: 50%;
    position: relative;
    height: 32.5rem;
    background-image: url("../images/content/choice-bg.jpg");
    background-repeat: no-repeat;
    background-size: 105%;
    background-position: center;
    border-radius: 2rem;
    box-shadow: 0px 14px 44px 0px rgba(0, 0, 0, 0.25);

    img {
      width: 100%;
      height: 52rem;
      bottom: 0;
      left: 0;
      position: absolute;
    }
  }

}

/*end choice===============*/

/*start process================*/
.process {
  padding: 3rem 0 8rem;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: -1rem;
    right: 0px;
    background-image: url("../images/content/video-bg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top left;
    width: 100%;
    height: 125rem;
  }

  .title {
    text-align: center;
    margin: 0 0 3.5rem 0;
  }

  ul {
    background-image: url("../images/icons/process.svg");
    background-repeat: no-repeat;
    background-size: 91%;
    background-position: center;
  }

  li {
    display: flex;
    align-items: center;
    width: 100%;

    &:hover {
      img {
        transform: scale(1.15);
      }
    }
  }

  li:nth-child(even) {
    text-align: right;
    flex-direction: row-reverse;

    .process__img {
      margin: 0 0 0 4.5rem;
    }
  }

  li:nth-child(1) {
    max-width: 63.5rem;
    margin: 0 0 7rem 3rem;
  }

  li:nth-child(2) {
    max-width: 52.6rem;
    margin: 0 16rem 18rem auto;
  }

  li:nth-child(3) {
    max-width: 64.5rem;
    margin: 0 0 16rem 31rem;
  }

  li:nth-child(4) {
    transform: translateY(-22%);
    max-width: 66.2rem;
    margin: 0 1rem 4rem auto;
  }

  li:nth-child(5) {
    max-width: 67rem;
    margin: 0 0 17rem 2rem;
  }

  li:nth-child(6) {
    max-width: 60.5rem;
    margin: 0 16rem 15rem auto;
  }

  li:nth-child(7) {
    max-width: 61.5rem;
    margin: 0 0 11rem 16rem;
  }

  li:nth-child(8) {
    max-width: 70.5rem;
    margin: 0 30rem 0 auto;
  }

  &__img {
    margin: 0 4.5rem 0 0;
    width: 11rem;
    height: 11rem;
    position: relative;
    flex-shrink: 0;

    img {
      position: relative;
      z-index: 1;
      width: 11.5rem;
      height: 11.5rem;
      object-fit: contain;
      transition: linear .3s;
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(25deg);
      width: 10rem;
      height: 10rem;
      border-radius: 2rem;
      box-shadow: 0 1, 4rem 4.4rem 0 rgba(0, 0, 0, 0.25);
      background: linear-gradient(152.2deg, rgb(253, 121, 20) 9.082%, rgb(255, 184, 0) 100.981%);
    }
  }

  h6 {
    color: rgb(253, 121, 20);
    font-family: 'Comfortaa';
    font-size: 4.7rem;
    font-weight: 700;
    line-height: 150%;
    text-transform: lowercase;
  }

  p {
    margin: 0;
    color: rgb(255, 255, 255);
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 150%;
  }
}

/*end process================*/

/*start d-programm============*/
.d-programm {
  padding: 10rem 0 4rem;

  .title {
    text-align: center;
    margin: 0 0 6rem 0;
  }

  &__slider {
    padding: 0 15rem;

    .slider-arrows {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 11rem;
      transition: linear 0.2s;
      cursor: pointer;

      &:hover {
        opacity: .8;
      }
    }

    .slider-arrows__left {
      left: 0;
    }

    .slider-arrows__right {
      right: 0;
      transform: translateY(-50%) rotate(180deg);
    }
  }

  &__item-inner {
    display: flex;
    justify-content: space-between;
    padding: 5rem 2rem 5rem 5rem;
    border: 0.3rem solid #FD7914;
    border-radius: 2rem;
    box-shadow: 4px 4px 17.6px 0px rgba(0, 68, 7, 0.25);
  }

  &__left {
    max-width: 39rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h6 {
      color: rgb(255, 255, 255);
      font-family: 'Comfortaa';
      font-size: 4rem;
      font-weight: 700;
      line-height: 150%;
    }

    img {
      width: 60%;
      object-fit: contain;
    }
  }

  &__imgs {
    display: flex;
    max-width: 90rem;
    width: 100%;
  }

  &__item {
    padding: 0.1rem;
  }

  &__img {
    margin: 0 3rem 0 0;
    width: 50%;
    height: 32rem;
    border-radius: 2rem;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

/*end d-programm============*/

/*start conect=============*/
.conect {
  padding: 9rem 0 3rem;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: -18rem;
    right: 0px;
    background-image: url('../images/content/video-bg.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top left;
    width: 100%;
    height: 125rem;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: -30rem;
    right: 0;
    background-image: url('../images/content/conect2.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top right;
    width: 100%;
    height: 125rem;
  }

  .title {
    text-align: center;
    margin: 0 0 4rem 0;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__left {
    max-width: 73rem;
    width: 100%;
    margin: 0 3rem 0 0;
  }

  &__right {
    max-width: 87.5rem;
    width: 100%;
    border-radius: 2rem;
    overflow: hidden;
    box-shadow: 4px 4px 17.6px 0px rgba(0, 68, 7, 0.25);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  p {
    color: rgb(255, 255, 255);
    margin: 0 0 4rem 0;
  }
}

/*end conect=============*/

/*start p-programm================*/
.p-programm {
  padding: 10rem 0 0;

  .container {
    overflow: hidden;
  }

  .title {
    text-align: center;
    margin: 0 0 10rem 0;
  }

  ul {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0 0 0 -3.5rem;
  }

  li {
    padding: 5rem 11rem 4rem;
    position: relative;
    margin: 0 0 11rem 3.5rem;
    width: calc(50% - 3.5rem);
    border: 0.3rem solid #FD7914;
    border-radius: 2rem;
    box-shadow: 4px 4px 17.6px 0px rgba(0, 68, 7, 0.25);

    img {
      position: absolute;
      height: 11rem;
      object-fit: contain;
      top: -5rem;
      right: 0;
    }
  }

  li:nth-child(2) {
    img {
      zoom: 1.2;
    }
  }

  h6 {
    background: linear-gradient(152.20deg, rgb(253, 121, 20), rgb(255, 184, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-family: 'Comfortaa';
    font-size: 4rem;
    font-weight: 700;
    line-height: 150%;
  }

  p {
    color: rgb(255, 255, 255);
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 148%;
    margin: 1rem 0 0 0;
  }
}

/*end p-programm================*/

/*start graph=================*/
.graph {
  padding: 2rem 0 4rem;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: -13rem;
    right: 0px;
    background-image: url("../images/content/graph-bg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top left;
    width: 100%;
    height: 125rem;
  }

  .title {
    text-align: center;
    margin: 0 0 5rem 0;
  }

  &__text {
    margin: 0 0 6rem 0;
    padding: 4.8rem 2rem;
    border-radius: 2rem;
    box-shadow: 4px 4px 17.6px 0px rgba(0, 68, 7, 0.25);
    background: linear-gradient(180.00deg, rgb(0, 185, 30), rgb(10, 121, 0) 100%);

    p {
      margin: 0;
      text-align: center;
      color: rgb(255, 255, 255);
      font-family: 'Comfortaa';
      font-size: 3.9rem;
      font-weight: 400;
      line-height: 140%;
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__left {
    margin: 0 2rem 0 0;
    max-width: 41rem;
    width: 100%;

    p {
      margin: 0;
      background: linear-gradient(152.20deg, rgb(253, 121, 20), rgb(255, 184, 0));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
      font-family: 'Comfortaa';
      font-size: 4rem;
      font-weight: 400;
      line-height: 150%;

    }

    img {
      margin: 10rem 0;
      display: block;
      height: 41.5rem;
      object-fit: contain;
    }
  }

  &__right {
    h6 {
      display: none;
    }

    p {
      margin: 0;
      color: rgb(255, 255, 255);
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 150%;
    }

    img {
      margin: 11rem 0;
      display: block;
      height: 41.5rem;
      width: 100%;
      object-fit: contain;
    }
  }
}

/*end graph=================*/

/*start u-programm============*/
.u-programm {
  padding: 9rem 0 6rem;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: -50rem;
    right: 0px;
    background-image: url("../images/content/video-bg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top left;
    width: 100%;
    height: 125rem;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: -60rem;
    right: 0px;
    background-image: url("../images/content/invite-bg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top right;
    width: 100%;
    height: 125rem;
  }

  .title {
    text-align: center;
    margin: 0 0 5rem 0;
  }

  .container>ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 0 0 -6rem;
  }

  .container>ul>li {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(30% - 6rem);
    margin: 0 0 3rem 6rem;
    padding: 4.5rem 4.5rem;
    border: .3rem solid rgba(255, 255, 255, 0.6);
    border-radius: 2rem;
    box-shadow: 2.7px 2.7px 5.4px 0px rgba(0, 0, 0, 0.25);

    h6 {
      margin: 0 0 5rem 0;
      color: rgb(255, 255, 255);
      font-family: 'Comfortaa';
      font-size: 3.6rem;
      font-weight: 700;
      line-height: 120%;
      text-align: center;
    }

    ul {
      li {
        margin: 0 0 2.2rem 0;
        position: relative;
        color: rgba(255, 255, 255, 0.6);
        font-family: 'Comfortaa';
        font-size: 2.1rem;
        font-weight: 700;
        line-height: 150%;
        padding: 0 0 0 9rem;

        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 3.7em;
          height: 3.5rem;
          background-image: url("../images/icons/chek2.svg");
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
        }
      }

      li.active {
        color: #fff;

        &::after {
          background-image: url("../images/icons/chek1.svg");
        }
      }
    }
  }


  .container>ul>li:nth-child(2) {
    width: calc(40% - 6rem);
    box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.25);
    background: linear-gradient(180.00deg, rgb(0, 185, 30), rgb(10, 121, 0) 100%);
    border: none;

    li {
      font-size: 2.4rem;

      &::after {
        width: 4em;
        height: 4rem;
      }
    }

    h6 {
      font-size: 4rem;
    }

    ul {
      margin: 0 0 0 -5rem;
    }
  }

  .btn {
    margin: 3rem 0 0 0;
    font-size: 2.2rem;
    width: 100%;
  }
}

/*end u-programm============*/

/*start result================*/
.result {
  padding: 1rem 0 4rem;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: -73rem;
    right: 0px;
    background-image: url("../images/content/result-bg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top left;
    width: 100%;
    height: 125rem;
  }

  .title {
    text-align: center;
    margin: 0 0 2rem;
  }

  .container>p {
    margin: 0 0 9rem 0;
    text-align: center;
  }

  ul {
    display: flex;
    margin: 0 0 0 -9rem;

    li {
      position: relative;
      padding: 15rem 3.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: 0 0 5rem 9rem;
      width: 44rem;
      height: 44rem;
      border-radius: 50%;
      border: 3px solid rgb(253, 121, 20);
      box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.25);

      img {
        position: absolute;
        bottom: 1rem;
        left: 1rem;
        height: 13.5rem;
        object-fit: contain;
      }
    }

    p {
      margin: 0;
      color: rgb(255, 255, 255);
      font-family: 'Comfortaa';
      font-size: 2.7rem;
      font-weight: 700;
      line-height: 150%;
      text-align: center;
    }

    span {
      color: rgb(253, 121, 20);
    }
  }

  &__box {
    display: flex;

    &>img {
      position: relative;
      z-index: 1;
      display: block;
      margin: 0 0 0 -5rem;
      height: 44rem;
      object-fit: contain;
    }
  }
}

/*end result================*/

/*start d-step=============*/
.d-step {
  padding: 4rem 0 8rem;

  .title {
    text-align: center;
    margin: 0 0 5rem 0;
  }

  &__list {
    background-image: url("../images/icons/process2.svg");
    background-repeat: no-repeat;
    background-size: 95%;
    background-position: center;
  }

  li {
    display: flex;
    align-items: center;

    &:hover {
      img {
        transform: scale(1.15);
      }
    }
  }

  li:nth-child(odd) {
    flex-direction: row-reverse;
    text-align: right;

    .process__img {
      margin: 0 0 0 4.5rem;
    }
  }

  li:nth-child(1) {
    margin: 0 2rem 15rem 0;
  }

  li:nth-child(2) {
    margin: 0 0 14rem 0;
    transform: translateY(-2rem);
  }

  li:nth-child(3) {
    margin: 0 22rem 14rem 0;
  }

  li:nth-child(4) {
    margin: 0 0 10rem 15rem;
  }

  li:nth-child(5) {
    margin: 0 2rem 13rem 0;
  }

  li:nth-child(6) {
    margin: 0 0 6rem 1rem;
  }

  li:nth-child(7) {
    margin: 0 31rem 0 0;
  }

  .process__box {
    h6 {
      color: rgb(253, 121, 20);
      font-family: 'Comfortaa';
      font-size: 4.7rem;
      font-weight: 700;
      line-height: 150%;
      text-transform: lowercase;
    }
  }
}

/*end d-step=============*/

/*start politic============*/
.politic {
  padding: 20rem 0 6rem;
  color: rgba(255, 255, 255, 0.8);
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 150%;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 5%;
    right: 0px;
    background-image: url("../images/content/video-bg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top left;
    width: 100%;
    height: 125rem;
  }

  &::before {
    content: "";
    position: absolute;
    top: 15%;
    right: 0px;
    background-image: url("../images/content/invite-bg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top right;
    width: 100%;
    height: 125rem;
  }

  p {
    margin: 0 0 1.5rem 0;
  }

  ul {
    margin: 3rem 0;
  }

  li {
    margin: 0 0 1.5rem 0;
  }
}

/*end politic============*/

/*start thanks=================*/
.thanks {
  padding: 20rem 0;
  color: rgb(255, 255, 255);
  text-align: center;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: -10%;
    right: 0px;
    background-image: url("../images/content/video-bg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top left;
    width: 100%;
    height: 125rem;
  }

  h6 {
    margin: 0 0 7rem 0;
    font-family: 'Comfortaa';
    font-size: 8.4rem;
    font-weight: 700;
    line-height: 120%;
  }

  p {
    font-family: 'Comfortaa';
    font-size: 4rem;
    font-weight: 700;
    line-height: 120%;
  }

  .btn {
    max-width: 48rem;
    width: 100%;
    margin: 9rem auto 0;
  }
}

/*end thanks=================*/







/*start footer===========*/
.footer {
  background: linear-gradient(180.00deg, rgb(0, 185, 30), rgb(10, 121, 0) 100%);
  padding: 6rem 0 0;
  color: #fff;

  &__inner {
    left: 0;
    right: 0;
    display: flex;
  }

  &__logo {
    margin: 0 9.5rem 0 0;
    width: 19.5rem;
    height: 6rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain
    }
  }

  nav {
    margin: 0 20rem 0 0;

    ul {
      display: flex;
      flex-direction: column;
    }

    li {
      margin: 0 0 1.5rem 0;
    }

    a {
      text-decoration: underline;
      text-decoration-color: transparent;
      transition: linear .2s;

      &:hover {
        text-decoration-color: #fff;
      }
    }
  }

  &__box {
    max-width: 76rem;
    width: 100%;

    ul {
      display: flex;
      flex-wrap: wrap;
      margin: 0 0 0 -8rem;
    }

    li {
      width: calc(50% - 8rem);
      margin: 0 0 6rem 8rem;
    }

    a {
      display: flex;
      align-items: center;
      text-decoration: underline;
      text-decoration-color: #fff;
      transition: linear .2s;
      font-size: 2rem;

      &:hover {
        text-decoration-color: transparent;
        opacity: .7;
      }

      img {
        margin: 0 1.5rem 0 0;
        width: 2.5rem;
      }
    }
  }

  &__col {
    margin: 0 0 0 3rem;

    ul {
      display: flex;
      flex-direction: column;
      width: 3.2rem;
      height: 3.2rem;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    li {
      margin: 0 0 6rem 0;
      transition: linear .2s;

      &:hover {
        opacity: .8;
      }
    }
  }
}

.subfooter {
  color: rgb(255, 255, 255);
  font-size: 2rem;
  line-height: 120%;

  &__inner {
    padding: 1.5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      padding: 1rem 1rem 1rem 0;
      margin: 0 1rem 0 0;
      border-right: .2rem solid #fff;
    }

    a {
      text-decoration: underline;
      text-decoration-color: #fff;
      transition: linear .2s;
      font-size: 2rem;

      &:hover {
        text-decoration-color: transparent;
      }
    }
  }
}



/*end footer===========*/

.up-page {
  position: fixed;
  z-index: 10;
  right: 10rem;
  bottom: 5rem;
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  transition: linear .2s;

  &:hover {
    opacity: .8;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.nf-before-form-content,
.ninja-forms-req-symbol,
.nf-after-field,
.nf-after-form-content {
  display: none;
}

.nf-form-content input:not([type=button]) {
  height: 7.3rem !important;
  padding: 1rem 5.8rem 1rem 2.8rem !important;
  width: 100%;
  border-radius: 2rem !important;
  -webkit-box-shadow: 0.4rem 0.4rem 1rem 0 rgba(139, 85, 22, 0.14);
  box-shadow: 0.4rem 0.4rem 1rem 0 rgba(139, 85, 22, 0.14);
  background: rgb(255, 255, 255);
  border: none;
}

.nf-form-content input[type=submit] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  width: 100% !important;
  cursor: pointer !important;
  outline: none;
  border: none;
  color: #fff;
  font-family: "e-Ukraine";
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 150%;
  padding: 2.4rem 5.5rem;
  border-radius: 20px;
  -webkit-transition: linear 0.2s;
  transition: linear 0.2s;
  position: relative;
  z-index: 1;
  background: rgb(255, 118, 27) !important;
}

.nf-form-content input[type=submit]:hover {
  color: #0b1f52 !important;
}

.nf-error.field-wrap .nf-field-element:after {
  background: rgb(255, 118, 27) !important;
  color: #fff;
  font-size: 20px;
  content: "\f12a";
  position: absolute;
  top: 50% !important;
  -webkit-transform: translateY(-50%) !important;
  -ms-transform: translateY(-50%) !important;
  transform: translateY(-50%) !important;
  transform: translateY(-50%) !important;
  right: 1rem !important;
  height: 4rem !important;
  width: 4rem !important;
  border-radius: .5rem !important;
}


.programm__img,
.excellence__img,
.process__img {
  flex-shrink: 0
}

@import "media";